@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap") * {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
}
nav {
  padding-top: 50px;
  max-width: 1200px;
  min-height: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.nav-img-title {
  width: 50%;
  display: flex;
}
.nav-img-title img {
  width: 60px;
  object-fit: contain;
  margin-right: 10px;
}
.nav-list {
  width: 50%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}
.nav-list a {
  text-decoration: none;
  color: #3c354f;
  font-size: 15px;
  font-weight: 600;
}
.nav-img-title p {
  font-size: 30px;
  font-weight: 800;
}
.nav-img-title span {
  color: #ff42a5;
}
.nav-list .follow-us-text {
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(11, 2, 35, 0.1);
  text-align: center;
}

/* end of nav section  */

/* start of banner section  */
.banner-section {
  background-image: url(./B8A2-Gamer-Zone/images/Group14.png);
  margin-top: 20px;
}
.banner-container {
  max-width: 1200px;
  min-height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.banner-text-container {
  margin-top: 100px;
}

.play-text {
  color: #0b0223;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  /* width: 50%; */
  margin: 20px auto 0;
}
.goat-text {
  /* width: 50%; */
  margin: 0 auto;
  text-align: left;
  font-size: 60px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.banner-img-container {
  width: 50%;
}
.banner-img-container img {
  width: 100%;
  height: 100%;
}
.banner-text-blew {
  color: #534c64;
  text-align: left;
  font-size: 15px;
  font-family: Work Sans;
  font-weight: 500;
  text-transform: lowercase;
  margin-bottom: 15px;
}
.singin-btn {
  padding: 10px 20px;
  gap: 10px;
  border-radius: 20px;
  background-color: #ff42a5;
  color: white;
  border: none;
  margin-right: 20px;
}
.gorouge-btn {
  padding: 10px 20px;
  gap: 10px;
  border-radius: 20px;
  background-color: #4ec5f7;
  color: white;
  border: none;
}
/* end of banner section  */

.funny-video-title h2 {
  color: #0b0223;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 100px;
}
.funny-video-title p {
  color: #534c64;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.funny-video-title .funny-vidoes {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-weight: 700;
}

.funny-video-img-section {
  max-width: 1200px;
  min-height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: none;
  gap: 10px;
}
.funny-video-img-section img {
  width: 100%;
  height: 100%;
}
.all-img-title {
  color: #534c64;
  text-align: left;
  font-size: 15px;
  font-weight: 500;
}
.funny-section {
  margin-bottom: 100px;
}

/* footer section  */
.footer {
  background-color: #0b0223;
}

.footer-section {
  max-width: 1200px;
  min-height: 400px;
  margin: 0 auto;
}
.footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 100px;
}
.footer-title img {
  width: 60px;
}
.footer-title p {
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.footer-title span {
  color: #ff42a5;
}
.our-story-section {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.our-story-section li {
  list-style: none;
  color: #fff;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}
.footer-icon {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-btn-icon {
  font-size: 25px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  border: none;
}
.terms-condition-div {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: white;
  padding-top: 40px;
}
.terms-1,
.terms-2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.terms-condition-div li {
  list-style: none;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 10px;
}
.footer-final-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 10px;
  font-weight: 500;
}

/* /games genre section  */
.game-genre {
  padding-top: 70px;
  max-width: 1200px;
  min-height: 300px;
  margin: 0 auto;
}

.under-game-genre {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
}
.under-game-genre div {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.under-game-genre img {
  width: 50px;
}
.bg-color {
  padding: 5px 7px;
  background-color: rgb(248, 247, 244);
  border-radius: 50px;
  border: none;
  font-size: 12px;
  font-weight: 600;
}
.bg-color p {
  padding: 5px 7px;
}
.bg-color:hover {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #ff42a5;
  box-shadow: 0 2px 10px 5px #ff42a5;
}

.photo-main {
  max-width: 1200px;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-img {
  width: 70%;
  padding-top: 150px;
  /* padding-left: 100px; */
 
}
.big-img .child-img > img{
  width: 200px;
  position: relative;
  top: -150px;
  left: 300px;
}
.big-img img {
  width: 400px;
  height: auto;
  object-fit: cover;
}
.text-area {
  width: 30%;
  height: 300px;
  font-size: 35px;
  font-weight: 700;
  line-height: 60px;
  text-align: right;
}
.text-area .play-games {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-area .anywhere-text {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.text-area .text-area-paragraph {
  color: #534c64;
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
